@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #F6F6F6;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#root {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}